[submodule "docs"]
	path = docs
	url = git@github.com:electrical-killer/notebook.docs.git
	branch = master
[submodule "blog"]
	path = blog
	url = git@github.com:electrical-killer/notebook.blog.git
	branch = master
